#chiSiamo {
    background-color: rgb(255, 187, 0);
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    padding: 50px;
    font-weight: bold;
    font-size: 18px;
}

#ilProgetto {
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    padding: 50px;
    font-size: 18px;
}

#toPersonalInfo {
    text-decoration: none;
    /* color: rgb(85, 85, 243); */
    color: rgb(170, 29, 29);
    transition: 300ms;
}

#toPersonalInfo:hover {
    color: rgb(116, 3, 3);
}

#toDocs {
    text-decoration: none;
    color: rgb(255, 187, 0);
    transition: 300ms;
}

#toDocs:hover {
    color: rgb(197, 145, 0);
}